<div><h4>event name</h4></div>
<div><b>Date : </b> date</div>
<div><b>Start Time : </b> start time</div>
<div><b>End Time : </b> end time</div>
<button class="btn" (click)=onClick(eventName)>view</button>