
  <div id="widthheight" >
    <form novalidate [formGroup]="idformgroup">
        <div class=" row">
            <label for="Employeeid" class="col-sm-2 col-form-label">Employeeid</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="employeeid" onkeypress="return (event.charCode > 47 && 
            event.charCode < 58) || (event.charCode === 8) || (event.charCode === 32)" formControlName="employeeid">
            </div>
          </div>
          <br>
    <div class="row">
      <label for="name"  class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <br>
    <div class=" row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" formControlName="mailid">
      </div>
    </div>
    <div class="form-group-row"><span *ngIf="idformgroup.get('mailid').touched && idformgroup.get('mailid').errors">Please provide valid mailid</span>
    </div>
    <br>
    <div class="row">
        <label for="password"  class="col-sm-2 col-form-label">Set Password</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="password" formControlName="password">
        </div>
      </div>
    <br>
     <div class=" row">
      <label for="phonenumber" class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="phonenumber" onkeypress="return (event.charCode > 47 && 
      event.charCode < 58) || (event.charCode === 8) || (event.charCode === 32)" formControlName="phonenumber">
      </div>
    </div>
    <br> 
     <span class="asd">
      <input class="form-check-input" type="radio" name="exampleRadios" id="admin" value="admin" >
      <label class="form-check-label" for="admin">
        Admin
      </label>
    </span>
    <span class="asd">
      <input class="form-check-input" type="radio" name="exampleRadios" id="interviewer" value="interviewer" >
      <label class="form-check-label" for="interviewer">
        Interviewer
      </label>
    </span>
    <br>
    <br>
    <div class=" row" id="locationdetails">
      <label for="Location" class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-10">
        <select class="form-control" id="location" formControlName="location">
                          <option>Chennai</option>
                          <option>Hyderabad</option>
                          <option>Bengaluru</option>
                          <option>Pune</option>
                        
                        </select>
      </div>
    </div>
    <br>
    <div class=" row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" id="clear" >Clear</button>
        <button type="submit" class="btn btn-primary"  (click)="onSave()"><a routerLink="/register">Register</a></button>
      </div>
    </div>
  </form>
  </div>
