.active{
    margin-left: 395px;
    margin-top: 10px;
    font-size: 22px;
    font-family: ' Times New Roman', sans-serif;
}
.slot{
     margin-top: 10px;
    font-size: 22px;
    font-family: ' Times New Roman', sans-serif;
}
.ellipsis{
        margin-left: 1059px;
    
}
.form-control{
   margin-left: 248px;
    margin-top: 103px;
    width: 857px;
    font-family: ' Times New Roman', sans-serif;
}

.container {
        background-color: white;
    width: 171px;
    padding: 25px;
    margin: 25px;
    height: 109px;
    margin-left: 253px;
    margin-top: 46px;
    text-align: center;
    border: 2px solid white;
}
.skill{
    font-weight: 800px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    font-family: ' Times New Roman', sans-serif;
}
.glyphicon-trash{
    margin-left:112px;
    top:9px;
}
.col-md-4{
    color: black;
    margin-left: 247px;
    margin-top: 80px;
    border:2px solid black;
    background-color: white;
    height: 98px;
    width: 150px;
}
strong{
    display:flex;
    justify-content: center;
    margin-top:20px;
    font-family: ' Times New Roman', sans-serif;
}

/*.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
 .i:hover .dropbtn {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
        margin-left: 960px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*.dropdown-content a:hover {
    background-color: #ddd;
}*/

/*.dropdown:hover .dropdown-content {
    display: block;
}*/
.glyphicon-option-vertical{
    top:-26px;
}
.dropbtn {
    background-color:lightgrey;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left: 970px;
    margin-top: -23px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
        margin-left: 960px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.chunk{
    position: relative;
    display: inline-block;
}
.dropdown-content a:hover {background-color: #ddd;}

/*.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

.chunk:hover  .dropdown-content{display: block;}

/*.module{
    width: 20px;
    height: 20px;
    padding-right: 173px;
    padding-top: 20px;
    border-radius: 50%;
    float:right;
    position: relative;
}
.chunk{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: relative;
    background-color: lightgrey;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.dropdown-content a{
    color:black;
    padding: 5px 5px;
    text-decoration: none;
    display:block;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.dropdown-content a:hover{background-color: #ddd;}

.chunk:hover  .dropdown-content{display: block;}*/
