<app-mainheader></app-mainheader>
  <input type="text" class="form-control"  name="skill" id="skill" placeholder="Add a New Skill">
  <div class="row">
    <div class="col-md-4">
       <span class="glyphicon glyphicon-trash"></span>
      <strong>Java Script</strong>
      </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-trash"></span>
      <strong>Angular</strong>
      </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-trash"></span>
      <strong>.Net</strong>
      </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
       <span class="glyphicon glyphicon-trash"></span>
      <strong>Java</strong>
      </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-trash"></span>
      <strong>Informatica</strong>
      </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-trash"></span>
      <strong>Testing</strong>
      </div>
  </div>
  
