
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <span class="navbar-brand" href="#">Islot</span>
                </div>
                <div class="dropdown">
                  <a type="button"  class="btn btn-primary " data-toggle="dropdown">
                      <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu">
                    <ul>
                    <li><a class="dropdown-item" href="#" (click)="changepass()">Change password</a></li>
                    <li><a class="dropdown-item" href="#" (click)="update()">Updatedetails</a></li>
                    <li><a class="dropdown-item" href="#"(click)="log()">Log Out</a></li>
                    </ul>
                  </div>
                </div>
                  
            </div>
          </nav>
    
  
