<div className="main-container" id="main-con">
  

  <div id="slot1" >
      <div class="col-lg-3">
          <h3> 9AM - 10AM</h3>
      </div>
      <div class="col-lg-3">
      <div class="form-control" id="box">{{this.value1}}</div>
      </div>
      <div class="col-lg-3" id="toggleid">
          <label class="switch" >    
              <input type="checkbox"(click)="active1()" >
              <span class="slider round"></span>
          </label>
      </div>
      <div class="col-lg-3" id="tit" >
          <label for="totalInterviews"> Total Interviews Taken </label>
          <input type="number" class="form-control" name="totalInterviews" >
      </div>
  </div>
  <br >
  <div id="slot2" >
      <div class="col-lg-3">
      <h3> 10AM - 11AM</h3>
      </div>
      <div class="col-lg-3">
      <div class="form-control" id="box" >{{this.value2}}</div>
      </div>
      <div class="col-lg-3" id="toggleid">
          <label class="switch">    
              <input type="checkbox"  (click)="active2()">
              <span class="slider round"></span>
          </label>
      </div>
      <div class="col-lg-3" id="tit" >
          <label for="totalInterviews"> Total Interviews Taken </label>
          <input type="number" class="form-control" name="totalInterviews" >
      </div>
  </div>
  <br >
  <div id="slot3" >
      <div class="col-lg-3">
          <h3> 11AM - 12PM</h3>
      </div>
      <div class="col-lg-3">
      <div class="form-control" id="box">{{this.value3}}</div>
      </div>
      <div class="col-lg-3" id="toggleid">
          <label class="switch" >    
              <input type="checkbox" (click)="active3()">
              <span class="slider round"></span>
          </label>
      </div>
      <div class="col-lg-3" id="tit" >
          <label for="totalInterviews"> Total Interviews Taken </label>
          <input type="number" class="form-control" name="totalInterviews" >
      </div>
  </div>
  <br >
  <div id="slot4" >
      <div class="col-lg-3">
          <h3> 12PM - 1PM</h3>
      </div>
      <div class="col-lg-3">
      <div class="form-control" id="box" >{{this.value4}}</div>
      </div>
      <div class="col-lg-3" id="toggleid">
          <label class="switch"  >    
              <input type="checkbox" (click)="active4()" >
              <span class="slider round"></span>
          </label>
      </div>
      <div class="col-lg-3" id="tit" >
          <label for="totalInterviews"> Total Interviews Taken </label>
          <input type=number class="form-control" name="totalInterviews" >
      </div>
  </div>

  <br >

  <button type="button" class="btn btn-success" id="update">Update</button>

</div>
 <!-- <div class="col-sm-1">

  </div>
  <div class="col-sm-10">
    <div>
      <div id="slot1">
        <div id=sl1><div id=st1>1</div>-<div id=st2>2</div><div id=ct1>1</div><div id=toggle1><label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        </div><div id=box1><input type=number></div>
        </div>
      </div>
      <div id="slot2">
        <div id=sl2><div id=st3>1</div>-<div id=st4>2</div><div id=ct2>1</div><div id=toggle2><label class="switch">
          <input type="checkbox" >
          <span class="slider round"></span>
        </label></div><div id=box2>box</div>
        </div>
      </div>
    <div id="slot3">
      <div id=sl3><div id=st5>1</div>-<div id=st6>2</div><div id=ct3>1</div><div id=toggle3><label class="switch">
        <input type="checkbox" >
        <span class="slider round"></span>
      </label></div><div id=box3>box</div>
      </div>
    </div>
  </div>
  <div class="col-sm-1">

  </div>
<<<<<<< HEAD
</div>-->






