 <div class=eventCreation>
 <form novalidate [formGroup]="regFormGroup" class="container">
     <label for="firstname" id="lfname">Name</label>
     <input type="text" class="form-control" name="firstname" id="firstname" formControlName="firstName">
     <i class="glyphicon glyphicon-remove form-control-feedback" *ngIf="regFormGroup.get('firstName').touched && regFormGroup.get('firstName').errors"
       id="firstError"></i>
     <i class="glyphicon glyphicon-ok form-control-feedback" id="firstError" *ngIf="regFormGroup.get('firstName').touched && !regFormGroup.get('firstName').errors"></i>
   <br>
   <span id="firstNameError" class="alert alert-danger" *ngIf="regFormGroup.get('firstName').touched && regFormGroup.get('firstName').errors">Please enter first name</span>
   <label for="joiningdate">Date</label>
   <input type="date" id="date" #date (change)="check(date.value)" >
   <span>{{errMessage}}</span>
   <br>
   <br>
   <label for="starttime">Start Time</label>
   <input type="time" class="form-control" id="starttime">
   <span id="starttimeError" class="spanHide"></span>
   <br>
   <br>
   <label for="endtime">End Time</label>
   <input type="time" class="form-control" id="endtime">
   <span id="endtimeError" class="spanHide"></span>
   <br>
   <br>
   <div class=skilllocation>
     <label for="location">Location</label>
     <select name="location" class="form-control" formControlName="location" id="location">
       <option value="pune">pune</option>
       <option value="chennai">chennai</option>
       <option value="Hyderabad">Hyderabad</option>
     </select>
   <span id="locationerror" class="spanHide"></span>
   <br>
   <br>
   <br>
   <label for="Skill">Skill</label>
   <select name="skill" class="form-control" formControlName="skill" id="skill">
     <option value=""></option>
     <option value="Java Script">Java Script</option>
     <option value="Angular">Angular</option>
     <option value="React">React</option>
   </select>
   <span id="skillerror" class="spanHide"></span>
  </div>
   <br>
   <br>
   <br>

   <button type="submit" class="btn btn-success" id="submitting" [disabled]="regFormGroup.invalid" (click)="onCreateEvent()">Create Event</button>
   <button type="reset" class="btn btn-success" id="resetting" [disabled]="regFormGroup.invalid" (click)="onSubmit()">reset</button>
  </form>
 </div>
